{% extends "base.html" %}

{% block content %}
  <div class="p-5 mb-4 bg-light shadow-lg" style="border-radius: 1rem;">
      <div class="container-fluid ">
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="fw-bold display-5 text-center text-dark"><b>CONTACTO</b></h1><br>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6" style="text-align: justify;">
                  <h5 class="my-4 fw-bold text-dark ">Teléfono: 477-535-32-50</h5>
              </div>
              <div class="col-lg-6" style="text-align: justify;">
                <h5 class="my-4 fw-bold text-dark ">Correo: valkiera@contacto.com.mx</h5>
            </div>
            <div class="col-lg-6" style="text-align: justify;">
                <h5 class="my-4 fw-bold text-dark ">Facebook: valkieraContacto</h5>
            </div>
            <div class="col-lg-6" style="text-align: justify;">
                <h5 class="my-4 fw-bold text-dark ">Instagram: valkiera_12</h5>
            </div>
            <div class="col-lg-12" style="text-align: justify;">
                <h5 class="my-4 fw-bold text-dark ">Comentarios:</h5>
                <textarea name="description" cols="130" rows="5"></textarea><br><br>
            </div>
            <div class="col-12" style="text-align: center;">
                <button class="btn btn-outline-info">Enviar comentarios</button>
            </div>
          </div>
      </div>
  </div>
{% endblock %}