{% extends "base.html" %}

{% block content %}
  <div class="p-5 mb-4 bg-light shadow-lg" style="border-radius: 1rem;">
      <div class="container-fluid ">
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="fw-bold display-5 text-center text-dark"><b>VALKIERA S.A. de C.V.</b></h1><br>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8">
                  <h4 class="my-4 fw-bold text-dark ">Misi&oacute;n:</h4>
                  <p class="fs-6 lead" style="text-align: justify; color: black;">
                    “Nuestra misión es ofrecer a nuestros clientes los últimos modelos de celulares de alta calidad y tecnología, brindando un servicio excepcional y personalizado que les permita encontrar el dispositivo perfecto que satisfaga sus necesidades y estilo de vida.” 
                  </p>
                  <h4 class="my-4 fw-bold text-dark">Visi&oacute;n:</h4>
                  <p class="fs-6 lead" style="text-align: justify; color: black;">
                    <p class="fs-6 lead" style="text-align: justify; color: black;">
                      “Nos vemos como líderes en el mercado de la venta de celulares, destacando por ofrecer la mejor selección de productos, precios competitivos y un servicio al cliente excepcional. Queremos ser reconocidos por ser una empresa innovadora, comprometida con la satisfacción de nuestros clientes y con la responsabilidad social y ambiental en todas nuestras operaciones.”
                  </p>
              </div>
              <div class="my-5 col-lg-4">
                  <img src="https://img.freepik.com/iconos-gratis/vimeo_318-357904.jpg" alt="Generic placeholder image" width="100%">
              </div>
          </div>
      </div>
  </div>
{% endblock %}