{% extends "base.html" %}

{% block content %}
<div class="row">
    {% if current_user.admin==1%}
    <div class="col-12" style="text-align: start;">
        <a href="guardar" class="btn btn-success">Agregar nuevo producto</a>
    </div>
    {% endif %}
    <div class="col-12">
        <h4 style="text-align: end;">
        <b>Bienvenido, {{ name }}!</b>
        </h4> 
    </div>
</div>
<br>
<div class="p-5 mb-4 bg-light shadow-lg" style="border-radius: 1rem;">
  <div class="container-fluid ">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="fw-bold display-5 text-center text-dark"><b>Catálago de Teléfonos</b></h1><br>
          </div>
      </div>
      <div class="row">
        <table class="table table">
          <thead>
          <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Marca</th>
              <th>Descripcción</th>
              <th>Precio</th>
              <th>Existencias</th>
              {% if current_user.id==1%}
              <th style="text-align: end;">Acciones</th>
              {% endif %}
          </tr>
      </thead>
      <tbody>
        {%for t in telefonos%}
        <tr>
            <td><img src="{{t.foto}}"></td>
            <td>{{t.nombre}}</td>
            <td>{{t.marca}}</td>
            <td class="col-4" style="text-align: justify;">{{t.descripccion}}</td>
            <td>$ {{t.precio}} MXM</td>
            <td style="text-align: center;">{{t.existencias}}</td>
            {% if current_user.id==1%}
            <td><a href="modificar?id={{t.id}}"
                class="btn btn-outline-warning">
             Modificar</a></td>
            <td><a href="eliminar?id={{t.id}}"
                class="btn btn-outline-danger">
             Eliminar</a></td>
             {% endif %}
        </tr>
        {%endfor%}
      </tbody>
      </table>
      </div>
  </div>
</div>
{% endblock %}